moving from 4.22.0 to 4.26.0 result in an error job


**Describe the bug**
This message was not making the pipeline job to fail in 4.22.0
INFO#1: Domain "domain.com" provider inwx Error: desired configuration contains both Null MX and regular MX records

**To Reproduce**
Steps to reproduce the behavior:
1. Use the dnscontrol docker image 4.26.0
2. Run a job with for example in this case null MX records 
`/usr/local/bin/dnscontrol preview --full | tee dnscontrol.preview.before.txt`
3. Watch it fail

**Expected behavior**
This is an INFO log, not an ERROR one, it should not fail.

**DNS Provider**
 - inwx


@zethis Can you confirm that you are trying to push a change that includes regular MX records *and* a Null MX record?

That is not allowed per [RFC 7505, section 3](https://www.rfc-editor.org/rfc/rfc7505.html#section-3) and iirc is not accepted by the INWX API.

If on the other hand the issue you raise is the fact that the error is presented as INFO and not ERROR, and so it should proceed, I kind of agree, but rather think that the message should be prefixed ERROR and make clear this is a fatal error.

I rewrote the parts of https://github.com/StackExchange/dnscontrol/commit/cfaa82f5c934bd019accf83b82f136f7078ff168 that handled null MX and the special handling of MX preference 0 in #3805 

That should effectively restore the behavior that was expected in this issue, but removes the ability to warn during a preview that the configuration is not supported. The error from INWX is passed through and there is a note on the provider page explaining the error.