Cloudflare not working with empty SRV record targets

This seems to have been working last week, but it now errors with `Error getting corrections: Error fetching record list from cloudflare: json: cannot unmarshal bool into Go struct field cfRecData.result.data.target of type string`.

For reference, here is the JSON record (domain names have been changed): `{"id":"5ed257182fdf61652819accebb407dad","type":"SRV","name":"_pop3._tcp.example.com","content":"0\t0","proxiable":false,"proxied":false,"ttl":120,"priority":0,"locked":false,"zone_id":"ece505641eb3d1700d1e5b5bcfae5252","zone_name":"example.com","modified_on":"2019-10-26T16:36:50.923811Z","created_on":"2019-10-26T16:36:50.923811Z","meta":{"auto_added":false,"managed_by_apps":false,"managed_by_argo_tunnel":false},"data":{"service":"_pop3","proto":"_tcp","name":"example.com","weight":0,"port":0,"target":false,"priority":0}}`. Note how target is `false`.

And, to quote RFC2782:

```
   Target
        The domain name of the target host.  There MUST be one or more
        address records for this name, the name MUST NOT be an alias (in
        the sense of RFC 1034 or RFC 2181).  Implementors are urged, but
        not required, to return the address record(s) in the Additional
        Data section.  Unless and until permitted by future standards
        action, name compression is not to be used for this field.

        A Target of "." means that the service is decidedly not
        available at this domain.
```

I'll submit a PR to fix this.