DMARC_BUILDER RFC 9989 updates

With [RFC 9989](https://datatracker.ietf.org/doc/html/rfc9989) being published as a Proposed Standard, the DMARC builder should take into account the new tags.

- `np` policy to apply to non existing subdomains. Its syntax is identical to that of the `p` tag
- `psd` A tag indicating whether the domain is a PSD. Values are y, n, u
-  `t` Should a receiver actually apply the policy stated in the `p` or `sp` tags

Also while some tags are deprecated (namely: `rf` and `ri`), the RFC states they should be ignored, so we should keep them for compatibility reasons but flag them to the people who still use them.

All DMARCbis RFC links:
- RFC 9989: Domain-Based Message Authentication, Reporting, and Conformance (DMARC): https://datatracker.ietf.org/doc/html/rfc9989
- RFC 9990: Domain-Based Message Authentication, Reporting, and Conformance (DMARC) Aggregate Reporting: https://datatracker.ietf.org/doc/html/rfc9990
- RFC 9991: Domain-Based Message Authentication, Reporting, and Conformance (DMARC) Failure Reporting: https://datatracker.ietf.org/doc/html/rfc9991

Hey there!

Thanks for pointing this out. Would you be interested in making a PR that adds these features? The file to modify is pkg/js/helpers.js